/**
* Cavnas Particle
*
* @section Components
* @author min
*/

@import '../base';

// Component block
.canvas-container {
	overflow: hidden;
	background: #333;

	canvas {}
}

.ui-container {
	overflow: hidden;
}
