/**
* Cavnas Particle
*
* @section Components
* @author min
*/

@import '../base';

.info {

	h1 span {
		display: inline-block;
		font-size: 12px;
		line-height: 12px;
		margin-left: 15px;
		vertical-align: top;
	}

}

.mouse-pointer {
	width: 50px;
	height: 50px;

	opacity: 0;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	pointer-events: none;
	transform: translate3d(-50%, -50%, 0);

	border-radius: 50%;
	border: 1px solid #333;
}

.canvas-container {
	overflow: hidden;
	background: #333;
	position: relative;
	cursor: url('../../asset/image/touch-cursor.png') 30 30, auto;
}

.ui-container {
	overflow: hidden;
}
