/*
  image text
*/

$image-width: 50%;

.ui-container {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
}

.buttons-group {
  text-align: center;

  button + button {
    margin-left: 15px;
  }
}

#image-container,
#canvas-container{
  padding-left:0;
  padding-right:0;
}

.color-picker {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.base-image{
  display: block;
  width: 100%;
  height: auto;
}

.base-canvas{
  display: block;
}

.text-canvas{
  display: none;
}
