<main>
  <div class="ui-container">

    <div class="container">
      <div class="row">
        <div class="info col-sm-12">
          <!-- runtime rendering-->
        </div>

        <div class="col-sm-12">

          <form>
            <!-- runtime rendering-->
          </form>

          <!-- alert -->
          <div class="alert alert-primary" role="alert"></div>

        </div>
      </div>

    </div>

  </div>

  <div class="canvas-container">
    <canvas></canvas>

    <!-- circle mouse pointer -->
    <span class="mouse-pointer"></span>

  </div>

</main>
