<main>
  <div class="container">

    <div class="info">
      <h1>canvas particle</h1>
      <p>TODO, description.</p>
      <p>Repo:</p>
    </div>

  </div>

  <div class="canvas-container">
    <canvas></canvas>
  </div>
  
</main>
